.header{
    display: flex;
}

.tulisan{
    height: 500px;
    width: 100%;
    font-family: "Roboto Mono", monospace;
    color: white;
    align-content: center;
}

h3{
    color: crimson;
}

img{
    border-radius: 50%;
    float: right;
    height: 15rem;
    width: 15rem;
    align-self: center;
}

.p{
    height: fit-content;
    width: 65%;
    text-align: left;
}

body{
    padding: 100px;  
    padding-left: 50px;
    padding-right: 8%;
    padding-top: 80px;
    background-color: black;
}